<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Dashboard</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Beranda</a></li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid pl-4 pr-4">
                                 
        <!-- Info boxes -->
        <div class="row mt-4">        
            <div class="col-12 col-sm-12 col-md-6">
                <div class="info-box">
                    <span class="info-box-icon bg-success elevation-1"><i class="fas fa-map-marker-alt"></i></span>

                    <div class="info-box-content">
                    <span class="info-box-text">Lokasi</span>
                    <span class="info-box-number">
                        {{ appData.numLokasi }}
                        <!-- <small>%</small> -->
                    </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->    
            <div class="col-12 col-sm-12 col-md-6">
                <div class="info-box">
                    <span class="info-box-icon bg-info elevation-1"><i class="fas fa-users"></i></span>

                    <div class="info-box-content">
                    <span class="info-box-text">Jukir</span>
                    <span class="info-box-number">
                        {{ appData.numJukir }}
                        <!-- <small>%</small> -->
                    </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
        
        <!-- Info boxes -->
        <div class="row mt-4">        
            <div class="col-12 col-sm-12 col-md-6">
                <div class="info-box">
                    <span class="info-box-icon bg-error elevation-1"><i class="fas fa-map-marker-alt"></i></span>

                    <div class="info-box-content">
                    <span class="info-box-text">Hari Ini</span>
                    <span class="info-box-number">
                        {{ appData.numIncomeHariIni | number : 0}}
                        <!-- <small>%</small> -->
                    </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->    
            <div class="col-12 col-sm-12 col-md-6">
                <div class="info-box">
                    <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

                    <div class="info-box-content">
                    <span class="info-box-text">Bulan ini</span>
                    <span class="info-box-number">
                        {{ appData.numIncomeBulanIni | number : 0}}
                        <!-- <small>%</small> -->
                    </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>

        <div class="row mt-4">
            <div class="col-12 col-sm-12 col-md-12">       
                <div class="info-box">
                    <div class="info-box-content">
                        <span class="info-box-text text-lg text-bold">Lokasi Parkir</span>
                        <div id="map_div" class="mt-2"></div>
                    </div>
                </div>
            </div>
        </div>               
        <div class="row mt-4">
            <div class="col-12 col-sm-12 col-md-6" style="text-align: center;">   
                <div class="info-box">
                    <div class="info-box-content">
                        <div id="sexchart" style="width: 100%; height: 500px;"></div>
                    </div>
                </div>
            </div>  
            <div class="col-12 col-sm-12 col-md-6" style="text-align: center;">       
                <div class="info-box">
                    <div class="info-box-content">       
                        <div id="agechart" style="width: 100%; height: 500px;"></div>                                   
                    </div>
                </div>
            </div>   
        </div>                 
        <div class="row mt-4">  
            <div class="col-12 col-sm-12 col-md-6" style="text-align: center;">   
                <div class="info-box">
                    <div class="info-box-content">
                        <div id="locationchart" style="width: 100%; height: 500px;"></div>    
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6" style="text-align: center;">   
                <div class="info-box">
                    <div class="info-box-content">
                        <div id="maritalchart" style="width: 100%; height: 500px;"></div>    
                    </div>
                </div>
            </div>      
        </div>
        <!-- /.row -->  
        <div class="row mt-4">      
            <div class="col-12 col-sm-12 col-md-6" style="text-align: center;">       
                <div class="info-box">
                    <div class="info-box-content">       
                        <div id="educhart" style="width: 100%; height: 500px;"></div>                                   
                    </div>
                </div>
            </div>  
            <div class="col-12 col-sm-12 col-md-6" style="text-align: center;">   
                <div class="info-box">
                    <div class="info-box-content">
                        <div id="jobspousechart" style="width: 100%; height: 500px;"></div>
                    </div>
                </div>
            </div>   
        </div>
        <div class="row mt-4">       
            <div class="col-12 col-sm-12 col-md-6" style="text-align: center;">       
                <div class="info-box">
                    <div class="info-box-content">       
                        <div id="spouseeduchart" style="width: 100%; height: 500px;"></div>                                   
                    </div>
                </div>
            </div>     
        </div>
        <!-- /.row -->  
    </div><!--/. container-fluid -->
</section>
<!-- /.content -->