<a ui-sref="home" ui-sref-active="active" class="d-block">{{ appData.username }}</a>
<span class="text-white text-xs">{{ appData.name }}</span>
<!--<span class="text-white text-xs">{{ appData.kampus }}</span>-->