<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h5 class="m-0 text-dark">Daftar Juru Parkir</h5>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Beranda</a></li>
                    <li class="breadcrumb-item active">Data Juru Parkir</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-outline card-info">
                    <div class="card-header">
                        <h3 class="card-title">Data Juru Parkir</h3>
                        
                        <div class="text-right">
                            <button type="button" class="btn btn-sm btn-outline-primary" ng-click="callFormAddData()" data-toggle="modal" data-target="#modal-form-data">
                                <i class="nav-icon fas fa-plus"></i>
                                Tambah Juru Parkir
                            </button>
                        </div>
                    </div>
                    <!--<div class="text-right mb-3">
                        <button type="button" class="btn btn-sm btn-outline-primary" ng-click="callFormAddData()" data-toggle="modal" data-target="#modal-form-data">
                            <i class="nav-icon fas fa-plus"></i>
                            Tambah Client
                        </button>
                    </div>-->
                    <!--<div class="row">
                    &nbsp;&nbsp;&nbsp;
                    <div class="form-group col-6 col-sm-3">

                            <label for="inputPassword2" class="sr-only">Password</label>
                            <select class="form-control select2 col-30" ng-model="formData.SelJukir">
                                    <option value="" selected disabled>Jukir</option>
                                    <option ng-repeat="data in formData.dataJukir" value="{{ data.id_jukir }}">
                                        {{ data.jukir_name }}</option>
                                </select>
                          </div>                          
                          
                          <div class="form-group col-6 col-sm-3">
                            <label for="inputPassword2" class="sr-only">Password</label>
                            <select class="form-control select2 col-20" ng-model="formData.SelTarif">
                                    <option value="" selected disabled>Tarif</option>
                                    <option ng-repeat="data in formData.dataTarif" value="{{ data.tarif_denom }}">
                                        {{ data.ride_cost }}</option>
                                </select>
                          </div>                                                    
                          <div class="form-group mx-sm-3 mb-2">                            
                            <input type="text" ng-model="formData.SelHari" placeholder="Pilih Tanggal" class="form-control pull-right" id="datepicker">
                          </div>
                          <button type="submit" class="btn btn-outline-primary mb-2" ng-click="searchData()">Cari</button>                    
                  </div>-->
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="tbl-data-table" class="table table-hover text-xs">
                            <thead>
                                <tr>
                                    <th>No.</th>            
                                    <th>Nama </th>
                                    <th>Contact</th>         
                                    <th>Alamat</th>         
                                    <th>Email</th>         
                                    <th>Lokasi&nbsp;Parkir</th>         
                                    <th>Kode&nbsp;Jukir</th>         
                                    <th>Device&nbsp;Uuid</th>         
                                    <th>User&nbsp;Login</th>         
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in dataJukirList">
                                    <td>{{ $index+1 }}.</td>
                                    <td>{{ data.jukir_name }}</td>  
                                    <td>{{ data.jukir_phone }}</td>
                                    <td>{{ data.jukir_address }}</td>
                                    <td>{{ data.jukir_email }}</td>
                                    <td>{{ data.parking_location_name }}</td>
                                    <td>{{ data.jukir_code }}</td>
                                    <td>{{ data.device_uuid }}</td>
                                    <td>{{ data.username }}</td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-xs btn-outline-success" ng-click="callFormChangePass(data.id_user)" data-toggle="modal" data-target="#modal-change-password">
                                            <i class="nav-icon fas fa-lock"></i>
                                            Change&nbsp;Password
                                        </button>
                                        <button type="button" class="btn btn-xs btn-outline-danger" ng-click="deleteData(data.id_jukir)">
                                            <i class="nav-icon fas fa-trash"></i>
                                            Hapus
                                        </button>
                                        <button type="button" class="btn btn-xs btn-outline-warning" ng-click="callFormEditData(data)" data-toggle="modal" data-target="#modal-form-data">
                                            <i class="nav-icon fas fa-edit"></i>
                                            Edit
                                        </button>
                                        <!--<button type="button" class="btn btn-outline-success btn-xs" ng-click="getDetailData(data.id_trx)" data-toggle="modal" data-target="#modal-detail-data">
                                            <i class="nav-icon fas fa-id-card"></i>
                                            Selengkapnya
                                        </button>-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
    </div><!--/. container-fluid -->
</section>
<!-- /.content -->

 <div class="modal fade" id="modal-form-data">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{ formData.formTitle }}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body text-xs">
            <form role="form">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Nama </label>
                            <input type="text" class="form-control" placeholder="Ketikan nama" ng-model="formData.TxtNama">
                            <input type="hidden" class="form-control" ng-model="formData.DataID">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">                        
                        <div class="form-group">
                            <label>Nomor Kontak</label>
                            <input type="text" class="form-control" placeholder="Ketikan Nomor" ng-model="formData.TxtKontak">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">                        
                        <div class="form-group">
                            <label>Alamat</label>
                            <input type="text" class="form-control" placeholder="Ketikan Alamat" ng-model="formData.TxtAlamat">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">                        
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" placeholder="Ketikan Email" ng-model="formData.TxtEmail">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">                        
                        <div class="form-group">
                            <label>Kode&nbsp;Jukir</label>
                            <input type="text" class="form-control" placeholder="Ketikan Kode" ng-model="formData.TxtKodeJukir">
                        </div>
                    </div>
                </div>                                
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Lokasi&nbsp;Parkir</label>
                            <select class="form-control col-8"
                                ng-model="formData.SelLocation">
                                <option value="" selected disabled>Pilih Lokasi</option>
                                <option ng-repeat="data in formData.dataLocation" value="{{ data.id_parking_location }}">
                                    {{ data.parking_location_name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Device&nbsp;Uuid</label>
                            <select class="form-control col-8"
                                ng-model="formData.SelDevice">
                                <option value="" selected disabled>Pilih Device</option>
                                <option ng-repeat="data in formData.dataDevice" value="{{ data.id_device }}">
                                    {{ data.device_type }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!--
                <div class="row">
                    <div class="col-sm-12">                        
                        <div class="form-group">
                            <label>Office Latitude</label>
                            <input type="text" class="form-control" placeholder="Ketikan Latitude" ng-model="formData.TxtLatitude">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Jenis Kelamin</label>
                            <select class="form-control col-8" ng-model="formData.SelSex">
                                <option value="" selected disabled>Pilih jenis kelamin</option>
                                <option value="L">Laki-laki</option>
                                <option value="P">Perempuan</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Kampus</label>
                            <select class="form-control col-8"
                                ng-model="formData.SelKampus">
                                <option value="" selected disabled>Pilih Kampus</option>
                                <option ng-repeat="data in formData.dataKampus" value="{{ data.kampus_id }}">
                                    {{ data.nama_kampus }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Tingkat</label>
                            <select class="form-control col-8"
                                ng-model="formData.SelTingkat">
                                <option value="" selected disabled>Pilih Tingkat</option>
                                <option ng-repeat="data in formData.dataTingkat" value="{{ data.tingkat_id }}">
                                    {{ data.nama_tingkat }}</option>
                            </select>
                        </div>
                    </div>
                </div>-->
                <!--<div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Client</label>
                            <select class="form-control select2 col-10" ng-model="formData.SelClient">
                                <option value="" selected disabled>Pilih Client</option>
                                <option ng-repeat="data in formData.dataClient" value="{{ data.client_id }}">
                                    {{ data.nama_client }}</option>
                            </select>
                        </div>
                    </div>
                </div>-->    
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
            <button type="button" class="btn btn-outline-primary" ng-if="formData.showAddButton" ng-click="createData()">Simpan</button>
            <button type="button" class="btn btn-outline-primary" ng-if="formData.showEditButton" ng-click="editData()">Simpan</button>
        </div>
        </div>
    <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="modal-detail-data">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Transaction Detail</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body text-sm">   
        
                <div ng-if="!isDataNotFound">
                    <div class="card-header d-flex p-0">
                        <h3 class="card-title p-3"></h3>
                        <ul class="nav nav-pills ml-auto p-2">
                            <li class="nav-item"><a class="nav-link active" href="javascript:void(0);"
                                    data-target="#tab-data-biodata" data-toggle="tab">All</a></li>
                            <!--<li class="nav-item"><a class="nav-link" href="javascript:void(0);"
                                    data-target="#tab-data-profil-sosial-ekonomi" data-toggle="tab">Sosial Ekonomi</a>
                            </li>-->    
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab-data-biodata">                                   
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card">      
                                            <div class="card-body p-0">   
                                                <table id="tbl-data-table" class="table table-hover text-sm">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width: 40%;">Nama Jukir</td>
                                                            <td style="width: 1%;">:</td>
                                                            <td>{{ dataTrxDet[0]["jukir_name"] }}</td>   
                                                        </tr>         
                                                        <tr>
                                                            <td>Lokasi Parkir</td>
                                                            <td>:</td>
                                                            <td>{{ dataTrxDet[0]["parking_location_name"]}}</td>   
                                                        </tr>       
                                                        <!--<tr>
                                                            <td>Jenis Kelamin</td>
                                                            <td>:</td>
                                                            <td>
                                                                <span ng-if="dataUserProfile.jenis_kelamin == 'L'">Laki-Laki</span>
                                                                <span ng-if="dataUserProfile.jenis_kelamin == 'P'">Perempuan</span>
                                                            </td>   
                                                        </tr>-->       
                                                        <tr>
                                                            <td>Tarif</td>
                                                            <td>:</td>
                                                            <td>{{ dataTrxDet[0]["trx_denom"]}}</td>   
                                                        </tr>
                                                        <tr>
                                                            <td>Tanggal</td>
                                                            <td>:</td>
                                                            <td>{{ dataTrxDet[0]["startdatetime"] }} </td>   
                                                        </tr>   
                                                        <tr>
                                                            <td>Kendaraan</td>
                                                            <td>:</td>
                                                            <td>{{ dataTrxDet[0]["vehicle_type"] }}</td>   
                                                        </tr>
                                                        <tr>
                                                            <td>Tipe Pembayaran</td>
                                                            <td>:</td>
                                                            <td>{{ dataTrxDet[0]["payment_type"] }}</td>   
                                                        </tr>
                                                        <!--<tr>
                                                            <td>Pekerjaan Lain</td>
                                                            <td>:</td>
                                                            <td>{{ dataUserProfile.pekerjaan_lain }}</td>   
                                                        </tr>
                                                        <tr>
                                                            <td>Tahapan Pekerjaan</td>
                                                            <td>:</td>
                                                            <td>{{ dataUserProfile.tahapan_pekerjaan }}</td>   
                                                        </tr>
                                                        <tr>
                                                            <td>Lama Bekerja</td>
                                                            <td>:</td>
                                                            <td>{{ dataUserProfile.masa_bekerja }} Tahun</td>   
                                                        </tr>       
                                                        <tr>
                                                            <td>Pekerjaan Pasangan</td>
                                                            <td>:</td>
                                                            <td>{{ dataUserProfile.pekerjaan_pasangan }}</td>   
                                                        </tr>
                                                        <tr>
                                                            <td>Pendidikan Pasangan</td>
                                                            <td>:</td>
                                                            <td>{{ dataUserProfile.pendidikan_pasangan }}</td>   
                                                        </tr>
                                                        <tr>
                                                            <td>Apakah Penghasilan Mencukupi</td>
                                                            <td>:</td>
                                                            <td>{{ dataUserProfile.penghasilan_mencukupi }}</td>   
                                                        </tr>
                                                        <tr>
                                                            <td>Rumah Tangga</td>
                                                            <td>:</td>
                                                            <td>{{ dataUserProfile.rumah_tangga }}</td>   
                                                        </tr> 
                                                        <tr>
                                                            <td>Tanggungan</td>
                                                            <td>:</td>
                                                            <td>{{ dataUserProfile.tanggungan }}</td>   
                                                        </tr> 
                                                        <tr>
                                                            <td>Anak</td>
                                                            <td>:</td>
                                                            <td>{{ dataUserProfile.anak }}</td>   
                                                        </tr> 
                                                        <tr>
                                                            <td>Anak Sekolah</td>
                                                            <td>:</td>
                                                            <td>{{ dataUserProfile.anak_sekolah }}</td>   
                                                        </tr>  
                                                        <tr>
                                                            <td>Keluarga Serumah</td>
                                                            <td>:</td>
                                                            <td>{{ dataUserProfile.keluarga_serumah }}</td>   
                                                        </tr>-->   
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>               
                                        <!-- /.card -->
                                    </div>
                                    <!-- ./col -->
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="tab-data-profil-sosial-ekonomi">                               
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card">      
                                            <div class="card-body p-0">    
                                                <table class="table table-hover table-sm">    
                                                  <tbody>   
                                                    <tr>
                                                        <td style="width: 40%;">Gaji Pokok</td>
                                                        <td style="width: 1%;">:</td>
                                                        <td>{{ dataUserProfile.gaji_pokok | currency : "" : "0" }}</td>   
                                                    </tr>
                                                    <tr>
                                                        <td>Pendapatan Sampingan</td>
                                                        <td>:</td>
                                                        <td>{{ dataUserProfile.sampingan }}</td>   
                                                    </tr>
                                                    <tr>
                                                        <td>Pendapatan Rumah Tangga</td>
                                                        <td>:</td>
                                                        <td>{{ dataUserProfile.rumah_tangga }}</td>   
                                                    </tr>
                                                    <tr>
                                                        <td>Belanja Makanan</td>
                                                        <td>:</td>
                                                        <td>{{ dataUserProfile.makanan }}</td>   
                                                    </tr>
                                                    <tr>
                                                        <td>Belanja Pakaian</td>
                                                        <td>:</td>
                                                        <td>{{ dataUserProfile.pakaian }}</td>   
                                                    </tr>
                                                    <tr>
                                                        <td>Biaya Transportasi</td>
                                                        <td>:</td>
                                                        <td>{{ dataUserProfile.transportasi }}</td>   
                                                    </tr>
                                                    <tr>
                                                        <td>Biaya Tempat Tinggal</td>
                                                        <td>:</td>
                                                        <td>{{ dataUserProfile.tempat_tinggal }}</td>   
                                                    </tr>
                                                    <tr>
                                                        <td>Biaya Komunikasi</td>
                                                        <td>:</td>
                                                        <td>{{ dataUserProfile.komunikasi }}</td>   
                                                    </tr>
                                                    <tr>
                                                        <td>Pinjaman</td>
                                                        <td>:</td>
                                                        <td>{{ dataUserProfile.pinjaman }}</td>   
                                                    </tr>
                                                    <tr>
                                                        <td>Pengeluaran Pendidikan</td>
                                                        <td>:</td>
                                                        <td>{{ dataUserProfile.pendidikan }}</td>   
                                                    </tr>
                                                    <tr>
                                                        <td>Pengeluaran Obat-obatan</td>
                                                        <td>:</td>
                                                        <td>{{ dataUserProfile.obat }}</td>   
                                                    </tr>
                                                    <tr>
                                                        <td>Biaya Tagihan Listrik</td>
                                                        <td>:</td>
                                                        <td>{{ dataUserProfile.listrik }}</td>   
                                                    </tr>
                                                    <tr>
                                                        <td>Biaya Tagihan Air</td>
                                                        <td>:</td>
                                                        <td>{{ dataUserProfile.air }}</td>   
                                                    </tr>
                                                  </tbody>
                                                </table>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                        <!-- /.card -->
                                    </div>
                                    <!-- ./col -->
                                </div>
                            </div>        
                            <!-- /.tab-pane -->
                            
                            <div class="tab-pane" id="tab-data-profil-sosial-ekonomi">
                                <table id="tbl-data-table" class="table table-hover text-xs">
                                    <tbody>
                                        <tr>
                                            <td>Nama</td>
                                            <td>:</td>
                                            <td>{{ dataUserProfile.nama }}</td>   
                                        </tr>
                                        <tr>
                                            <td>Umur</td>
                                            <td>:</td>
                                            <td>{{ dataUserProfile.umur }} Tahun</td>   
                                        </tr>
                                        <tr>
                                            <td>Jenis Kelamin</td>
                                            <td>:</td>
                                            <td>{{ dataUserProfile.jenis_kelamin }}</td>   
                                        </tr>
                                        <tr>
                                            <td>Skor</td>
                                            <td>:</td>
                                            <td>{{ dataPretest.score }}</td>   
                                        </tr> 
                                        <tr>
                                            <td>Status Ansietas</td>
                                            <td>:</td>
                                            <td>{{ dataPretest.status }}</td>   
                                        </tr> 
                                        <tr>
                                            <td>Tanggal/Waktu</td>
                                            <td>:</td>
                                            <td>{{ dataPretest.idt }}</td>   
                                        </tr>  
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.tab-pane -->   
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>         
            
            
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>       
        </div>
        </div>
    <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-change-password">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{ formData.formTitle }}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body text-xs">
            <form role="form">                
                <!--<div class="row">
                    <div class="col-sm-12">                        
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control" readonly="true" placeholder="Ketikan Username" ng-model="formData.TxtUsername">                            
                        </div>
                    </div>
                </div>-->
                <div class="row">
                    <div class="col-sm-12">                        
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="text" class="form-control" placeholder="Ketikan Password" ng-model="formData.TxtPassword">                            
                            <input type="hidden" class="form-control" ng-model="formData.DataPassID">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">                        
                        <div class="form-group">
                            <label>Confirm&nbsp;New&nbsp;Password</label>
                            <input type="text" class="form-control" placeholder="Ketikan Confirm Password" ng-model="formData.TxtConfirm">                            
                        </div>
                    </div>
                </div>                
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
            <button type="button" class="btn btn-outline-primary" ng-if="formData.showAddButton" ng-click="createData()">Simpan</button>
            <button type="button" class="btn btn-outline-primary" ng-if="formData.showEditButton" ng-click="changePass()">Simpan</button>
        </div>
        </div>
    <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
