<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h5 class="m-0 text-dark">Daftar Transaksi</h5>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Beranda</a></li>
                    <li class="breadcrumb-item active">Data Transaksi</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-outline card-info">
                    <div class="card-header">
                        <h3 class="card-title">Data Transaksi</h3>
                        
                        <!--<div class="text-right">
                            <button type="button" class="btn btn-outline-primary btn-sm" ng-click="" data-toggle="modal" data-target="#modal-form-add-data">
                                <i class="nav-icon fas fa-plus"></i>
                                Tambah Data
                            </button>
                        </div>-->
                    </div>
                    <div class="row">
                    &nbsp;&nbsp;&nbsp;
                    <div class="form-group col-6 col-sm-3"><!--form-group mx-sm-3 mb-2-->

                            <label for="inputPassword2" class="sr-only">Password</label>
                            <select class="form-control select2 col-30" ng-model="formData.SelJukir">
                                    <option value="" selected disabled>Jukir</option>
                                    <option ng-repeat="data in formData.dataJukir" value="{{ data.id_jukir }}">
                                        {{ data.jukir_name }}</option>
                                </select>
                          </div>
                          
                          <!--<div class="col">
                            <label for="inputPassword2" class="sr-only">Password</label>
                            <select class="form-control select2 col-20" ng-model="formData.SelLocation">
                                    <option value="" selected disabled>Lokasi</option>
                                    <option ng-repeat="data in formData.dataLocation" value="{{ data.id_parking_location }}">
                                        {{ data.parking_location_name }}</option>
                                </select>

                          </div>-->



                          <div class="form-group col-6 col-sm-3"><!--form-group mx-sm-3 mb-2-->
                            <label for="inputPassword2" class="sr-only">Password</label>
                            <select class="form-control select2 col-20" ng-model="formData.SelTarif">
                                    <option value="" selected disabled>Tarif</option>
                                    <option ng-repeat="data in formData.dataTarif" value="{{ data.tarif_denom }}">
                                        {{ data.ride_cost }}</option>
                                </select>
                          </div>
                          
                          <!--<div class="form-group mx-sm-3 mb-2">
                            <label for="inputPassword2" class="sr-only">Password</label>
                            <select class="form-control col-8" ng-model="formData.SelAchieve">
                                <option value="" selected disabled>Target</option>
                                <option value="1">Tercapai</option>
                                <option value="2">Tidak Tercapai</option>
                            </select>
                          </div>-->                          

                          <div class="form-group mx-sm-3 mb-2">
                            <!--<label for="inputPassword2" class="sr-only">Password</label>
                            <select class="form-control select2 col-20" ng-model="formData.SelMinggu">
                                    <option value="" selected disabled>Tanggal</option>
                                    <option ng-repeat="data in formData.dataHari" value="{{ data.weekref_id }}">
                                        {{ data.weekshow }}</option>
                                </select>-->
                            <input type="text" ng-model="formData.SelHari" placeholder="Pilih Tanggal" class="form-control pull-right" id="datepicker">
                          </div>

                          <button type="submit" class="btn btn-outline-primary mb-2" ng-click="searchData()">Cari</button>                          
                          <button type="button" class="btn btn-outline-primary" ng-if="formData.showExportButton" ng-click="downloadData()">Export</button>
                    <!--<div class="col-sm-3">                      
                      <div class="form-group">
                        <label>Select</label>
                        <select class="form-control">
                          <option>option 1</option>
                          <option>option 2</option>
                          <option>option 3</option>
                          <option>option 4</option>
                          <option>option 5</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label>Select Disabled</label>
                        <select class="form-control" disabled="">
                          <option>option 1</option>
                          <option>option 2</option>
                          <option>option 3</option>
                          <option>option 4</option>
                          <option>option 5</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                          <label>Date range:</label>

                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="far fa-calendar-alt"></i>
                              </span>
                            </div>
                            <input type="text" class="form-control float-right" id="reservation">
                          </div>
                          <-- /.input group >
                        </div>
                    </div>-->
                  </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="tbl-data-table" class="table table-hover text-xs">
                            <thead>
                                <tr>
                                    <th>No.</th>            
                                    <th>Nama&nbsp;Jukir</th>
                                    <th>Lokasi&nbsp;Parkir</th>         
                                    <th>Jenis&nbsp;Kendaraan</th>         
                                    <th>Tarif</th>         
                                    <th>Trx&nbsp;Date</th>         
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in dataTrxDaily">
                                    <td>{{ $index+1 }}.</td>
                                    <td>{{ data.jukir_name }}</td>  
                                    <td>{{ data.parking_location_name }}</td>
                                    <td>{{ data.vehicle_type }}</td>
                                    <td>{{ data.trx_denom }}</td>
                                    <td>{{ data.startdatetime }}</td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-outline-success btn-xs" ng-click="getDetailData(data.id_trx)" data-toggle="modal" data-target="#modal-detail-data">
                                            <i class="nav-icon fas fa-id-card"></i>
                                            Selengkapnya
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
    </div><!--/. container-fluid -->
</section>
<!-- /.content -->

 <div class="modal fade" id="modal-form-add-data">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Profil Nelayan</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">             
                <form>
                  <div class="row">
                    <div class="col-sm-6">
                      <!-- text input -->
                      <div class="form-group">
                        <label>Nama</label>
                        <input type="text" class="form-control" placeholder="Nama" ng-model="profileParams.nama">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">          
                        <label>Daerah</label>                                                     
                        <input type="text" class="form-control" placeholder="Daerah" ng-model="profileParams.daerah">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">  
                        <label>Jenis Kelamin</label>
                        <select class="form-control" ng-model="profileParams.jenis_kelamin">
                          <option disabled selected value="">Pilih</option>
                          <option value="L">Laki-Laki</option>
                          <option value="P">Perempuan</option>  
                        </select>             
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">  
                        <label>Status Perkawinan</label>
                        <select class="form-control" ng-model="profileParams.marital">
                          <option disabled selected value="">Pilih</option>
                          <option value="Bujang">Bujang</option>
                          <option value="Menikah">Menikah</option>  
                          <option value="Duda">Duda</option> 
                          <option value="Janda">Janda</option> 
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">      
                        <label>Usia</label>
                        <input type="number" class="form-control" placeholder="Usia" ng-model="profileParams.usia">        
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group"> 
                        <label>Tingkat Pendidikan</label>
                        <select class="form-control" ng-model="profileParams.pendidikan">
                          <option disabled selected value="">Pilih</option>     
                          <option value="Sekolah Dasar">Sekolah Dasar</option>
                          <option value="Sekolah Menengah">Sekolah Menengah</option>  
                          <option value="Diploma">Diploma</option> 
                          <option value="S1">S1</option>  
                          <option value="S2">S2</option>  
                          <option value="S3">S3</option>  
                          <option value="Tidak Sekolah">Tidak Sekolah</option>  
                        </select>  
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">  
                        <label>Pekerjaan</label>
                        <select class="form-control" ng-model="profileParams.pekerjaan">
                          <option disabled selected value="">Pilih</option>  
                          <option value="Petani">Petani</option>
                          <option value="Nelayan">Nelayan</option>  
                          <option value="Usaha Sendiri">Usaha Sendiri</option>  
                          <option value="Pegawai Swasta">Pegawai Swasta</option>  
                          <option value="Pegawai Negeri Sipil (PNS)">Pegawai Negeri Sipil (PNS)</option>  
                          <option value="Pegawai BUMN">Pegawai BUMN</option>  
                          <option value="Ibu Rumah Tangga">Ibu Rumah Tangga</option>  
                          <option value="Tidak Bekerja">Tidak Bekerja</option>  
                          <option value="Lain-lain">Lain-lain</option> 
                        </select>         
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">   
                        <label>Pekerjaan Lain</label>
                        <select class="form-control" ng-model="profileParams.pekerjaan_lain">
                          <option disabled selected value="">Pilih</option>   
                          <option value="Petani">Petani</option>
                          <option value="Nelayan">Nelayan</option>  
                          <option value="Usaha Sendiri">Usaha Sendiri</option>  
                          <option value="Pegawai Swasta">Pegawai Swasta</option>  
                          <option value="Pegawai Negeri Sipil (PNS)">Pegawai Negeri Sipil (PNS)</option>  
                          <option value="Pegawai BUMN">Pegawai BUMN</option>  
                          <option value="Ibu Rumah Tangga">Ibu Rumah Tangga</option>  
                          <option value="Tidak Bekerja">Tidak Bekerja</option>  
                          <option value="Lain-lain">Lain-lain</option> 
                        </select>         
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">     
                        <label>Tahapan Pekerjaan</label>    
                        <select class="form-control" ng-model="profileParams.tahapan_pekerjaan">
                          <option disabled selected value="">Pilih</option>   
                          <option value="Lebih Baik">Lebih Baik</option>     
                          <option value="Semuanya Sama">Semuanya Sama</option>        
                          <option value="Tidak Baik">Tidak Baik</option>   
                        </select>         
                      </div>
                    </div>  
                    <div class="col-sm-6">
                      <div class="form-group">   
                        <label>Lama Bekerja</label>
                        <input type="number" class="form-control" placeholder="Lama Bekerja (Tahun)" ng-model="profileParams.lama_bekerja">          
                      </div>
                    </div>      
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">  
                        <label>Pekerjaan Pasangan</label>
                        <select class="form-control" ng-model="profileParams.pekerjaan_pasangan">
                          <option disabled selected value="">Pilih</option>
                          <option value="Petani">Petani</option>
                          <option value="Nelayan">Nelayan</option>  
                          <option value="Usaha Sendiri">Usaha Sendiri</option>  
                          <option value="Pegawai Swasta">Pegawai Swasta</option>  
                          <option value="Pegawai Negeri Sipil (PNS)">Pegawai Negeri Sipil (PNS)</option>  
                          <option value="Pegawai BUMN">Pegawai BUMN</option>  
                          <option value="Ibu Rumah Tangga">Ibu Rumah Tangga</option>  
                          <option value="Tidak Bekerja">Tidak Bekerja</option>  
                          <option value="Lain-lain">Lain-lain</option>  
                        </select>    
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">    
                        <label>Pendidikan Pasangan</label>    
                        <select class="form-control" ng-model="profileParams.pendidikan_pasangan">
                          <option disabled selected value="">Pilih</option>       
                          <option value="Sekolah Dasar">Sekolah Dasar</option>
                          <option value="Sekolah Menengah">Sekolah Menengah</option>  
                          <option value="Diploma">Diploma</option> 
                          <option value="S1">S1</option>  
                          <option value="S2">S2</option>  
                          <option value="S3">S3</option>  
                          <option value="Tidak Sekolah">Tidak Sekolah</option>   
                        </select>         
                      </div>
                    </div>     
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">        
                        <label>Penghasilan Cukup</label>                                                                                               
                        <select class="form-control" ng-model="profileParams.penghasilan_cukup">
                          <option disabled selected value="">Pilih</option>       
                          <option value="Mencukupi">Mencukupi</option>
                          <option value="Tidak Mencukupi">Tidak Mencukupi</option>    
                        </select>              
                      </div>  
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">                                                   
                        <label>Pekerjaan Alternatif COVID-19</label>
                        <select class="form-control" ng-model="profileParams.pekerjaan_alternatif_covid19">
                          <option disabled selected value="">Pilih</option>
                          <option value="Petani">Petani</option>
                          <option value="Nelayan">Nelayan</option>  
                          <option value="Usaha Sendiri">Usaha Sendiri</option>  
                          <option value="Pegawai Swasta">Pegawai Swasta</option>  
                          <option value="Pegawai Negeri Sipil (PNS)">Pegawai Negeri Sipil (PNS)</option>  
                          <option value="Pegawai BUMN">Pegawai BUMN</option>  
                          <option value="Ibu Rumah Tangga">Ibu Rumah Tangga</option>  
                          <option value="Tidak Bekerja">Tidak Bekerja</option>  
                          <option value="Lain-lain">Lain-lain</option>  
                        </select>          
                      </div>
                    </div>       
                  </div>           
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                <button type="button" class="btn btn-outline-success" ng-click="createProfilRespoden()">Simpan</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="modal-detail-data">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Transaction Detail</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body text-sm">   
        
                <div ng-if="!isDataNotFound">
                    <div class="card-header d-flex p-0">
                        <h3 class="card-title p-3"></h3>
                        <ul class="nav nav-pills ml-auto p-2">
                            <li class="nav-item"><a class="nav-link active" href="javascript:void(0);"
                                    data-target="#tab-data-biodata" data-toggle="tab">All</a></li>
                            <!--<li class="nav-item"><a class="nav-link" href="javascript:void(0);"
                                    data-target="#tab-data-profil-sosial-ekonomi" data-toggle="tab">Sosial Ekonomi</a>
                            </li>-->    
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab-data-biodata">                                   
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card">      
                                            <div class="card-body p-0">   
                                                <table id="tbl-data-table" class="table table-hover text-sm">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width: 40%;">Nama Jukir</td>
                                                            <td style="width: 1%;">:</td>
                                                            <td>{{ dataTrxDet[0]["jukir_name"] }}</td>   
                                                        </tr>         
                                                        <tr>
                                                            <td>Lokasi Parkir</td>
                                                            <td>:</td>
                                                            <td>{{ dataTrxDet[0]["parking_location_name"]}}</td>   
                                                        </tr>       
                                                        <!--<tr>
                                                            <td>Jenis Kelamin</td>
                                                            <td>:</td>
                                                            <td>
                                                                <span ng-if="dataUserProfile.jenis_kelamin == 'L'">Laki-Laki</span>
                                                                <span ng-if="dataUserProfile.jenis_kelamin == 'P'">Perempuan</span>
                                                            </td>   
                                                        </tr>-->       
                                                        <tr>
                                                            <td>Tarif</td>
                                                            <td>:</td>
                                                            <td>{{ dataTrxDet[0]["trx_denom"]}}</td>   
                                                        </tr>
                                                        <tr>
                                                            <td>Tanggal</td>
                                                            <td>:</td>
                                                            <td>{{ dataTrxDet[0]["startdatetime"] }} </td>   
                                                        </tr>   
                                                        <tr>
                                                            <td>Kendaraan</td>
                                                            <td>:</td>
                                                            <td>{{ dataTrxDet[0]["vehicle_type"] }}</td>   
                                                        </tr>
                                                        <tr>
                                                            <td>Tipe Pembayaran</td>
                                                            <td>:</td>
                                                            <td>{{ dataTrxDet[0]["payment_type"] }}</td>   
                                                        </tr>
                                                        <!--<tr>
                                                            <td>Pekerjaan Lain</td>
                                                            <td>:</td>
                                                            <td>{{ dataUserProfile.pekerjaan_lain }}</td>   
                                                        </tr>
                                                        <tr>
                                                            <td>Tahapan Pekerjaan</td>
                                                            <td>:</td>
                                                            <td>{{ dataUserProfile.tahapan_pekerjaan }}</td>   
                                                        </tr>
                                                        <tr>
                                                            <td>Lama Bekerja</td>
                                                            <td>:</td>
                                                            <td>{{ dataUserProfile.masa_bekerja }} Tahun</td>   
                                                        </tr>       
                                                        <tr>
                                                            <td>Pekerjaan Pasangan</td>
                                                            <td>:</td>
                                                            <td>{{ dataUserProfile.pekerjaan_pasangan }}</td>   
                                                        </tr>
                                                        <tr>
                                                            <td>Pendidikan Pasangan</td>
                                                            <td>:</td>
                                                            <td>{{ dataUserProfile.pendidikan_pasangan }}</td>   
                                                        </tr>
                                                        <tr>
                                                            <td>Apakah Penghasilan Mencukupi</td>
                                                            <td>:</td>
                                                            <td>{{ dataUserProfile.penghasilan_mencukupi }}</td>   
                                                        </tr>
                                                        <tr>
                                                            <td>Rumah Tangga</td>
                                                            <td>:</td>
                                                            <td>{{ dataUserProfile.rumah_tangga }}</td>   
                                                        </tr> 
                                                        <tr>
                                                            <td>Tanggungan</td>
                                                            <td>:</td>
                                                            <td>{{ dataUserProfile.tanggungan }}</td>   
                                                        </tr> 
                                                        <tr>
                                                            <td>Anak</td>
                                                            <td>:</td>
                                                            <td>{{ dataUserProfile.anak }}</td>   
                                                        </tr> 
                                                        <tr>
                                                            <td>Anak Sekolah</td>
                                                            <td>:</td>
                                                            <td>{{ dataUserProfile.anak_sekolah }}</td>   
                                                        </tr>  
                                                        <tr>
                                                            <td>Keluarga Serumah</td>
                                                            <td>:</td>
                                                            <td>{{ dataUserProfile.keluarga_serumah }}</td>   
                                                        </tr>-->   
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>               
                                        <!-- /.card -->
                                    </div>
                                    <!-- ./col -->
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="tab-data-profil-sosial-ekonomi">                               
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card">      
                                            <div class="card-body p-0">    
                                                <table class="table table-hover table-sm">    
                                                  <tbody>   
                                                    <tr>
                                                        <td style="width: 40%;">Gaji Pokok</td>
                                                        <td style="width: 1%;">:</td>
                                                        <td>{{ dataUserProfile.gaji_pokok | currency : "" : "0" }}</td>   
                                                    </tr>
                                                    <tr>
                                                        <td>Pendapatan Sampingan</td>
                                                        <td>:</td>
                                                        <td>{{ dataUserProfile.sampingan }}</td>   
                                                    </tr>
                                                    <tr>
                                                        <td>Pendapatan Rumah Tangga</td>
                                                        <td>:</td>
                                                        <td>{{ dataUserProfile.rumah_tangga }}</td>   
                                                    </tr>
                                                    <tr>
                                                        <td>Belanja Makanan</td>
                                                        <td>:</td>
                                                        <td>{{ dataUserProfile.makanan }}</td>   
                                                    </tr>
                                                    <tr>
                                                        <td>Belanja Pakaian</td>
                                                        <td>:</td>
                                                        <td>{{ dataUserProfile.pakaian }}</td>   
                                                    </tr>
                                                    <tr>
                                                        <td>Biaya Transportasi</td>
                                                        <td>:</td>
                                                        <td>{{ dataUserProfile.transportasi }}</td>   
                                                    </tr>
                                                    <tr>
                                                        <td>Biaya Tempat Tinggal</td>
                                                        <td>:</td>
                                                        <td>{{ dataUserProfile.tempat_tinggal }}</td>   
                                                    </tr>
                                                    <tr>
                                                        <td>Biaya Komunikasi</td>
                                                        <td>:</td>
                                                        <td>{{ dataUserProfile.komunikasi }}</td>   
                                                    </tr>
                                                    <tr>
                                                        <td>Pinjaman</td>
                                                        <td>:</td>
                                                        <td>{{ dataUserProfile.pinjaman }}</td>   
                                                    </tr>
                                                    <tr>
                                                        <td>Pengeluaran Pendidikan</td>
                                                        <td>:</td>
                                                        <td>{{ dataUserProfile.pendidikan }}</td>   
                                                    </tr>
                                                    <tr>
                                                        <td>Pengeluaran Obat-obatan</td>
                                                        <td>:</td>
                                                        <td>{{ dataUserProfile.obat }}</td>   
                                                    </tr>
                                                    <tr>
                                                        <td>Biaya Tagihan Listrik</td>
                                                        <td>:</td>
                                                        <td>{{ dataUserProfile.listrik }}</td>   
                                                    </tr>
                                                    <tr>
                                                        <td>Biaya Tagihan Air</td>
                                                        <td>:</td>
                                                        <td>{{ dataUserProfile.air }}</td>   
                                                    </tr>
                                                  </tbody>
                                                </table>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                        <!-- /.card -->
                                    </div>
                                    <!-- ./col -->
                                </div>
                            </div>        
                            <!-- /.tab-pane -->
                            
                            <div class="tab-pane" id="tab-data-profil-sosial-ekonomi">
                                <table id="tbl-data-table" class="table table-hover text-xs">
                                    <tbody>
                                        <tr>
                                            <td>Nama</td>
                                            <td>:</td>
                                            <td>{{ dataUserProfile.nama }}</td>   
                                        </tr>
                                        <tr>
                                            <td>Umur</td>
                                            <td>:</td>
                                            <td>{{ dataUserProfile.umur }} Tahun</td>   
                                        </tr>
                                        <tr>
                                            <td>Jenis Kelamin</td>
                                            <td>:</td>
                                            <td>{{ dataUserProfile.jenis_kelamin }}</td>   
                                        </tr>
                                        <tr>
                                            <td>Skor</td>
                                            <td>:</td>
                                            <td>{{ dataPretest.score }}</td>   
                                        </tr> 
                                        <tr>
                                            <td>Status Ansietas</td>
                                            <td>:</td>
                                            <td>{{ dataPretest.status }}</td>   
                                        </tr> 
                                        <tr>
                                            <td>Tanggal/Waktu</td>
                                            <td>:</td>
                                            <td>{{ dataPretest.idt }}</td>   
                                        </tr>  
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.tab-pane -->   
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>         
            
            
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>       
        </div>
        </div>
    <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>