<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h5 class="m-0 text-dark">Daftar Kendaraan</h5>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Beranda</a></li>
                    <li class="breadcrumb-item active">Data Kendaraan</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-outline card-info">
                    <div class="card-header">
                        <h3 class="card-title">Data Kendaraan</h3>
                        
                        <div class="text-right">
                            <button type="button" class="btn btn-sm btn-outline-primary" ng-click="callFormAddData()" data-toggle="modal" data-target="#modal-form-data">
                            <i class="nav-icon fas fa-plus"></i>
                            Tambah Kendaraan
                        </button>
                        </div>
                    </div>
                    <!--<div class="text-right mb-3">
                        <button type="button" class="btn btn-sm btn-outline-primary" ng-click="callFormAddData()" data-toggle="modal" data-target="#modal-form-data">
                            <i class="nav-icon fas fa-plus"></i>
                            Tambah Kendaraan
                        </button>
                    </div>-->
                    
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="tbl-data-table" class="table table-hover text-xs">
                            <thead>
                                <tr>
                                    <th>No.</th>            
                                    <th>Kendaraan</th>
                                    <!--<th>Lokasi&nbsp;Parkir</th>         
                                    <th>Jenis&nbsp;Kendaraan</th>         
                                    <th>Tarif</th>         
                                    <th>Trx&nbsp;Date</th>-->         
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in dataVehicleList">
                                    <td>{{ $index+1 }}.</td>
                                    <td>{{ data.vehicle_type }}</td>  
                                    <!--<td>{{ data.parking_location_name }}</td>
                                    <td>{{ data.vehicle_type }}</td>
                                    <td>{{ data.trx_denom }}</td>
                                    <td>{{ data.startdatetime }}</td>-->
                                    <td class="text-center">
                                        <button type="button" class="btn btn-xs btn-outline-danger" ng-click="deleteData(data.id_vehicle_type)">
                                            <i class="nav-icon fas fa-trash"></i>
                                            Hapus
                                        </button>
                                        <button type="button" class="btn btn-xs btn-outline-warning" ng-click="callFormEditData(data)" data-toggle="modal" data-target="#modal-form-data">
                                            <i class="nav-icon fas fa-edit"></i>
                                            Edit
                                        </button>
                                        <!--<button type="button" class="btn btn-outline-success btn-xs" ng-click="getDetailData(data.id_trx)" data-toggle="modal" data-target="#modal-detail-data">
                                            <i class="nav-icon fas fa-id-card"></i>
                                            Selengkapnya
                                        </button>-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
    </div><!--/. container-fluid -->
</section>
<!-- /.content -->

 <div class="modal fade" id="modal-form-data">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{ formData.formTitle }}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body text-xs">
            <form role="form">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Nama Kendaraan</label>
                            <input type="text" class="form-control" placeholder="Ketikan nama" ng-model="formData.TxtVehicleType">
                            <input type="hidden" class="form-control" ng-model="formData.DataID">
                        </div>
                    </div>
                </div>
                <!--<div class="row">
                    <div class="col-sm-12">                        
                        <div class="form-group">
                            <label>Nama Kendaraan</label>
                            <input type="text" class="form-control" placeholder="Ketikan Alamat" ng-model="formData.TxtAlamat">
                        </div>
                    </div>
                </div>-->
                <!--<div class="row">
                    <div class="col-sm-12">                        
                        <div class="form-group">
                            <label>Nomor Kontak Orangtua</label>
                            <input type="text" class="form-control" placeholder="Ketikan nomor kontak orangtua" ng-model="formData.TxtPhoneParent">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">                        
                        <div class="form-group">
                            <label>Email Orangtua</label>
                            <input type="text" class="form-control" placeholder="Ketikan email orangtua" ng-model="formData.TxtEmailParent">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Jenis Kelamin</label>
                            <select class="form-control col-8" ng-model="formData.SelSex">
                                <option value="" selected disabled>Pilih jenis kelamin</option>
                                <option value="L">Laki-laki</option>
                                <option value="P">Perempuan</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Kampus</label>
                            <select class="form-control col-8"
                                ng-model="formData.SelKampus">
                                <option value="" selected disabled>Pilih Kampus</option>
                                <option ng-repeat="data in formData.dataKampus" value="{{ data.kampus_id }}">
                                    {{ data.nama_kampus }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Tingkat</label>
                            <select class="form-control col-8"
                                ng-model="formData.SelTingkat">
                                <option value="" selected disabled>Pilih Tingkat</option>
                                <option ng-repeat="data in formData.dataTingkat" value="{{ data.tingkat_id }}">
                                    {{ data.nama_tingkat }}</option>
                            </select>
                        </div>
                    </div>
                </div>-->
                <!--<div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Client</label>
                            <select class="form-control select2 col-10" ng-model="formData.SelClient">
                                <option value="" selected disabled>Pilih Client</option>
                                <option ng-repeat="data in formData.dataClient" value="{{ data.client_id }}">
                                    {{ data.nama_client }}</option>
                            </select>
                        </div>
                    </div>
                </div>-->    
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
            <button type="button" class="btn btn-outline-primary" ng-if="formData.showAddButton" ng-click="createData()">Simpan</button>
            <button type="button" class="btn btn-outline-primary" ng-if="formData.showEditButton" ng-click="editData()">Simpan</button>
        </div>
        </div>
    <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="modal-detail-data">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Transaction Detail</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body text-sm">   
        
                <div ng-if="!isDataNotFound">
                    <div class="card-header d-flex p-0">
                        <h3 class="card-title p-3"></h3>
                        <ul class="nav nav-pills ml-auto p-2">
                            <li class="nav-item"><a class="nav-link active" href="javascript:void(0);"
                                    data-target="#tab-data-biodata" data-toggle="tab">All</a></li>
                            <!--<li class="nav-item"><a class="nav-link" href="javascript:void(0);"
                                    data-target="#tab-data-profil-sosial-ekonomi" data-toggle="tab">Sosial Ekonomi</a>
                            </li>-->    
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab-data-biodata">                                   
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card">      
                                            <div class="card-body p-0">   
                                                <table id="tbl-data-table" class="table table-hover text-sm">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width: 40%;">Nama Jukir</td>
                                                            <td style="width: 1%;">:</td>
                                                            <td>{{ dataTrxDet[0]["jukir_name"] }}</td>   
                                                        </tr>         
                                                        <tr>
                                                            <td>Lokasi Parkir</td>
                                                            <td>:</td>
                                                            <td>{{ dataTrxDet[0]["parking_location_name"]}}</td>   
                                                        </tr>       
                                                        <!--<tr>
                                                            <td>Jenis Kelamin</td>
                                                            <td>:</td>
                                                            <td>
                                                                <span ng-if="dataUserProfile.jenis_kelamin == 'L'">Laki-Laki</span>
                                                                <span ng-if="dataUserProfile.jenis_kelamin == 'P'">Perempuan</span>
                                                            </td>   
                                                        </tr>-->       
                                                        <tr>
                                                            <td>Tarif</td>
                                                            <td>:</td>
                                                            <td>{{ dataTrxDet[0]["trx_denom"]}}</td>   
                                                        </tr>
                                                        <tr>
                                                            <td>Tanggal</td>
                                                            <td>:</td>
                                                            <td>{{ dataTrxDet[0]["startdatetime"] }} </td>   
                                                        </tr>   
                                                        <tr>
                                                            <td>Kendaraan</td>
                                                            <td>:</td>
                                                            <td>{{ dataTrxDet[0]["vehicle_type"] }}</td>   
                                                        </tr>
                                                        <tr>
                                                            <td>Tipe Pembayaran</td>
                                                            <td>:</td>
                                                            <td>{{ dataTrxDet[0]["payment_type"] }}</td>   
                                                        </tr>
                                                        <!--<tr>
                                                            <td>Pekerjaan Lain</td>
                                                            <td>:</td>
                                                            <td>{{ dataUserProfile.pekerjaan_lain }}</td>   
                                                        </tr>
                                                        <tr>
                                                            <td>Tahapan Pekerjaan</td>
                                                            <td>:</td>
                                                            <td>{{ dataUserProfile.tahapan_pekerjaan }}</td>   
                                                        </tr>
                                                        <tr>
                                                            <td>Lama Bekerja</td>
                                                            <td>:</td>
                                                            <td>{{ dataUserProfile.masa_bekerja }} Tahun</td>   
                                                        </tr>       
                                                        <tr>
                                                            <td>Pekerjaan Pasangan</td>
                                                            <td>:</td>
                                                            <td>{{ dataUserProfile.pekerjaan_pasangan }}</td>   
                                                        </tr>
                                                        <tr>
                                                            <td>Pendidikan Pasangan</td>
                                                            <td>:</td>
                                                            <td>{{ dataUserProfile.pendidikan_pasangan }}</td>   
                                                        </tr>
                                                        <tr>
                                                            <td>Apakah Penghasilan Mencukupi</td>
                                                            <td>:</td>
                                                            <td>{{ dataUserProfile.penghasilan_mencukupi }}</td>   
                                                        </tr>
                                                        <tr>
                                                            <td>Rumah Tangga</td>
                                                            <td>:</td>
                                                            <td>{{ dataUserProfile.rumah_tangga }}</td>   
                                                        </tr> 
                                                        <tr>
                                                            <td>Tanggungan</td>
                                                            <td>:</td>
                                                            <td>{{ dataUserProfile.tanggungan }}</td>   
                                                        </tr> 
                                                        <tr>
                                                            <td>Anak</td>
                                                            <td>:</td>
                                                            <td>{{ dataUserProfile.anak }}</td>   
                                                        </tr> 
                                                        <tr>
                                                            <td>Anak Sekolah</td>
                                                            <td>:</td>
                                                            <td>{{ dataUserProfile.anak_sekolah }}</td>   
                                                        </tr>  
                                                        <tr>
                                                            <td>Keluarga Serumah</td>
                                                            <td>:</td>
                                                            <td>{{ dataUserProfile.keluarga_serumah }}</td>   
                                                        </tr>-->   
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>               
                                        <!-- /.card -->
                                    </div>
                                    <!-- ./col -->
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="tab-data-profil-sosial-ekonomi">                               
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card">      
                                            <div class="card-body p-0">    
                                                <table class="table table-hover table-sm">    
                                                  <tbody>   
                                                    <tr>
                                                        <td style="width: 40%;">Gaji Pokok</td>
                                                        <td style="width: 1%;">:</td>
                                                        <td>{{ dataUserProfile.gaji_pokok | currency : "" : "0" }}</td>   
                                                    </tr>
                                                    <tr>
                                                        <td>Pendapatan Sampingan</td>
                                                        <td>:</td>
                                                        <td>{{ dataUserProfile.sampingan }}</td>   
                                                    </tr>
                                                    <tr>
                                                        <td>Pendapatan Rumah Tangga</td>
                                                        <td>:</td>
                                                        <td>{{ dataUserProfile.rumah_tangga }}</td>   
                                                    </tr>
                                                    <tr>
                                                        <td>Belanja Makanan</td>
                                                        <td>:</td>
                                                        <td>{{ dataUserProfile.makanan }}</td>   
                                                    </tr>
                                                    <tr>
                                                        <td>Belanja Pakaian</td>
                                                        <td>:</td>
                                                        <td>{{ dataUserProfile.pakaian }}</td>   
                                                    </tr>
                                                    <tr>
                                                        <td>Biaya Transportasi</td>
                                                        <td>:</td>
                                                        <td>{{ dataUserProfile.transportasi }}</td>   
                                                    </tr>
                                                    <tr>
                                                        <td>Biaya Tempat Tinggal</td>
                                                        <td>:</td>
                                                        <td>{{ dataUserProfile.tempat_tinggal }}</td>   
                                                    </tr>
                                                    <tr>
                                                        <td>Biaya Komunikasi</td>
                                                        <td>:</td>
                                                        <td>{{ dataUserProfile.komunikasi }}</td>   
                                                    </tr>
                                                    <tr>
                                                        <td>Pinjaman</td>
                                                        <td>:</td>
                                                        <td>{{ dataUserProfile.pinjaman }}</td>   
                                                    </tr>
                                                    <tr>
                                                        <td>Pengeluaran Pendidikan</td>
                                                        <td>:</td>
                                                        <td>{{ dataUserProfile.pendidikan }}</td>   
                                                    </tr>
                                                    <tr>
                                                        <td>Pengeluaran Obat-obatan</td>
                                                        <td>:</td>
                                                        <td>{{ dataUserProfile.obat }}</td>   
                                                    </tr>
                                                    <tr>
                                                        <td>Biaya Tagihan Listrik</td>
                                                        <td>:</td>
                                                        <td>{{ dataUserProfile.listrik }}</td>   
                                                    </tr>
                                                    <tr>
                                                        <td>Biaya Tagihan Air</td>
                                                        <td>:</td>
                                                        <td>{{ dataUserProfile.air }}</td>   
                                                    </tr>
                                                  </tbody>
                                                </table>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                        <!-- /.card -->
                                    </div>
                                    <!-- ./col -->
                                </div>
                            </div>        
                            <!-- /.tab-pane -->
                            
                            <div class="tab-pane" id="tab-data-profil-sosial-ekonomi">
                                <table id="tbl-data-table" class="table table-hover text-xs">
                                    <tbody>
                                        <tr>
                                            <td>Nama</td>
                                            <td>:</td>
                                            <td>{{ dataUserProfile.nama }}</td>   
                                        </tr>
                                        <tr>
                                            <td>Umur</td>
                                            <td>:</td>
                                            <td>{{ dataUserProfile.umur }} Tahun</td>   
                                        </tr>
                                        <tr>
                                            <td>Jenis Kelamin</td>
                                            <td>:</td>
                                            <td>{{ dataUserProfile.jenis_kelamin }}</td>   
                                        </tr>
                                        <tr>
                                            <td>Skor</td>
                                            <td>:</td>
                                            <td>{{ dataPretest.score }}</td>   
                                        </tr> 
                                        <tr>
                                            <td>Status Ansietas</td>
                                            <td>:</td>
                                            <td>{{ dataPretest.status }}</td>   
                                        </tr> 
                                        <tr>
                                            <td>Tanggal/Waktu</td>
                                            <td>:</td>
                                            <td>{{ dataPretest.idt }}</td>   
                                        </tr>  
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.tab-pane -->   
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>         
            
            
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>       
        </div>
        </div>
    <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>